:root {
  --fs-main-heading: 2.6rem;
  --fs-heading-large: 1.95rem;
  --fs-heading-medium: 1.5rem;
  --fs-para: 1.18rem;
  --fs-para-small: 0.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
}
header h1 {
  display: inline-block;
  font-size: var(--fs-main-heading);
  line-height: 1;
  font-weight: 800;
  color: #211a01;
  margin: 1rem;
}
body,
main {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
section {
  background: url(https://images.unsplash.com/photo-1637567488035-fb77e40f5b3f?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 2vw;
}

#contentSection {
  padding-top: 5vw;
}
.text-container {
  width: 85vw;
  height: 85vw;
  max-width: 45rem;
  max-height: 45rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  gap: 2vw;
  background: radial-gradient(circle, #735f22, #594400d4, #000000e6);
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  outline: 10px groove #8f7423;
}
.text-container h2 {
  font-size: var(--fs-heading-large);
  width: 70%;
}
.text-container h3 {
  font-size: var(--fs-heading-medium);
}
.text-container p {
  font-size: var(--fs-para);
}
.text-container button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 3px #180704;
  font-size: var(--fs-para);
  font-weight: bold;
}
.grid-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

form {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  background: linear-gradient(226deg, #141412, #89773ccc, #141412);
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 0px 20px 3px #7d7d7d;
  display: flex;
  flex-direction: column;
}
fieldset {
  padding: 0.2rem 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px #4d3204;
}
legend {
  font-size: var(--fs-heading-medium);
  font-weight: bold;
  border-bottom: 2px solid #584f00;
  border-radius: 5px;
  padding: 0 5px;
  color: #ffb813;
}
input,
select,
textarea {
  margin: 0.4em 0;
  padding: 8px 6px;
  border-radius: 5px;
  border: none;
  width: max-content;
  background-color: #473513bd;
  color: white;
  width: 100%;
}
input::placeholder,
textarea::placeholder,
label,
select {
  color: rgba(216, 214, 214, 0.924);
  font-size: var(--fs-para-small);
}
option {
  color: #ffffff;
}
label {
  font-size: var(--fs-para);
  font-weight: 600;
  width: 100%;
  color: rgb(255 237 144);
}
.radio-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radioOption {
  margin-left: 5px;
}
.radioOption label {
  color: white;
  font-size: var(--fs-para);
  font-weight: normal;
}
.radioOption input {
  width: unset;
}
textarea {
  resize: none;
  width: 90%;
}
.form-subHeading {
  display: block;
}
form p {
  color: rgb(255 237 144);
}
input[type="file"] {
  background-color: transparent;
}
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

input::file-selector-button {
  font-weight: 600;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 3px 2px rgb(19, 17, 1);
}
input::file-selector-button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 1px 1px #180704;
}
input::file-selector-button:hover {
  background-color: rgb(210, 208, 208);
}

form button {
  width: 40%;
  max-width: 25em;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: white;
}
button[type="reset"] {
  background: #c75204;
  box-shadow: 3px 3px 3px #180704;
}
button[type="submit"] {
  background: #8fb418;
  box-shadow: 3px 3px 3px #3a5a05;
}
button[type="reset"]:hover {
  background: linear-gradient(#c75204, #ff6601, #c75204);
}
button[type="submit"]:hover {
  background: linear-gradient(#8fb418, #ace002, #8fb418);
}
button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 1px 1px #180704;
}
#tempFields {
  display: inline-grid;
  grid-template-columns: 1fr 1fr auto;
}
#tempFields label {
  grid-column: 1 / span 23;
}
#tempFields input,
#tempFields select {
  width: max-content;
}

@media screen and (max-width: 900px) {
  :root {
    --fs-main-heading: 2.2rem;
    --fs-heading-large: 1.85rem;
    --fs-heading-medium: 1.25rem;
    --fs-para: 1.05rem;
    --fs-para-small: 0.8rem;
  }
}
@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  :root {
    --fs-main-heading: 1.8rem;
    --fs-heading-large: 1.35rem;
    --fs-heading-medium: 1rem;
    --fs-para: 0.85rem;
    --fs-para-small: 0.58rem;
  }
}

@media screen and (max-width: 550px) {
  .text-container {
    border-radius: 15px;
    min-height: max-content;
    gap: 3vw;
    padding: 5vw;
  }
  input::file-selector-button {
    width: 100%;
  }
}
